table {
    border-collapse: collapse;
}

th, td {
    background-color: rgb(214, 255, 214);
    border: 3px lightblue solid;
}

.titulo {
    text-align: center;
    background-color: darkgreen;
    color: rgb(214, 255, 214);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.price {
    text-align: center;
}