.background-1 {
    background: url(../images/f01.png) left bottom repeat-x,
    url(../images/f02.png) left bottom no-repeat,
    url(../images/f03.png) left top repeat-x;
    background-color: #a4d3ff;
    height: 120px;
    width: 210px;
    border: blue 3px solid;
}

.background-2 {
    background: url(../images/f01.png) left bottom repeat-x,
    url(../images/f02.png) left bottom no-repeat,
    url(../images/f03.png) left top repeat-x;
    background-color: #a4d3ff;
    height: 350px;
    width: 440px;
    border: red 3px solid;
    margin: 20px;
}

.background-1 {
    background: url(../images/f01.png) left bottom repeat-x,
    url(../images/f02.png) left bottom no-repeat,
    url(../images/f03.png) left top repeat-x;
    background-color: #a4d3ff;
    height: 120px;
    width: 210px;
    border: blue 3px solid;
}
