body {
    background-image: url(../images/penguins.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 1200px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 310px;
    width: 1000px;
    height: 85px;
    border: 1px black solid;
    background-color: cornsilk;
}

th, td {
    text-align: center;
    background-color: cornsilk;
    border: 1px black solid;
}

td {
    text-align: center;
    background-color: khaki;
}
